/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Raleway";
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;

}
#root, #__next {
  isolation: isolate;
}
.front{
  transform: rotateY(90deg);
  transition: all ease-in-out 0.2;
  position: absolute;
}
.flipped-front{
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.back{
  transition: all ease-in-out 0.2s;
  transition-delay: 0.2s;
}
.flipped-back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}


@tailwind base;
@tailwind components;
@tailwind utilities;